.card-list {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
}

.card-list__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 364px);
    justify-content: center;
    column-gap: 24px;
    row-gap: 37px;
    padding-bottom: 10px;
    overflow: hidden;
    min-height: 378px;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .card-list__wrapper {
        column-gap: 30px;
        row-gap: 30px;
        grid-template-columns: repeat(auto-fill, 339px);
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .card-list__wrapper {
        row-gap: 14px;
        column-gap: 14px;
        grid-template-columns: repeat(auto-fill, 300px);
        padding-bottom: 26px;
    }
}

.card-list__btn {
    background-color: white;
    width: 320px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.52px;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    margin: 50px auto 0;
    cursor: pointer;
}

.card-list__btn:hover {
    opacity: 0.8;
}

.card-list__btn_hidden {
    visibility: hidden;
    margin: 24px auto 0;
}

@media screen and (max-width: 479px) {
    .card-list__btn {
        width: 240px;
    }
}

.card-list__notice {
    margin: 0;
    padding: 0;
    font-size: 28px;
    line-height: 31px;
    color: #A0A0A0;
    text-align: center;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}