.navigation__ul {
    display: flex;   
    list-style: none; 
    padding: 0;
}

.navigation__li {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 479px) {
    .navigation__li {
        margin-left: 0;
    }
}

.navigation__li:nth-child(3) {
    margin-left: 50px;
}

.navigation__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: black;
}

.navigation__link_active {
    font-weight: 500;
}

.navigation__signup {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 479px) {
    .navigation__signup {
        font-size: 10px;
    }
}

.navigation__signin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 76px;
    height: 32px;
    border-radius: 3px;
    background-color: black;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 479px) {
    .navigation__signin {
        font-size: 10px;
        width: 54px;
        height: 26px;
        margin-left: 14px;
    }
}

.navigation__profile-wrapper {
    display: flex;
    align-items: center;
    column-gap: 17px;
}

.navigation__profile-img {
    width: 26px;
    height: 30px;
}