.search-form {
    display: flex;
    gap: 41px;
    align-items: center;
    padding-bottom: 83px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.2);
    box-sizing: border-box;
}

@media screen and (max-width: 959px) {
    .search-form {
        flex-direction: column;
        padding-bottom: 57px;
        gap: 38px;
    }
}

@media screen and (max-width: 479px) {
    .search-form {
        padding-bottom: 44px;
        gap: 45px;
    }
}

.search-form__set {
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    max-width: 932px;
}

.search-form__input {
    box-sizing: border-box;
    padding: 0 0 0 22px;
    font-size: 14px;
    line-height: 18px;
    border: none;
    outline: none;
    color: black;
    height: 48px;
    width: 100%;
    border: 1.5px solid rgba(175, 175, 175, 0.2);
    border-radius: 50px;
}

@media screen and (max-width: 959px) {
    .search-form__input {
        padding: 0 0 0 18px;
    }
}

@media screen and (max-width: 479px) {
    .search-form__input {
        padding: 0 0 0 16px;
        font-size: 11px;
    }
}

.search-form__input::placeholder {
    color: #A0A0A0;
  }

.search-form__submit-btn {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 48px;
    background: url(../../images/btn.svg) center no-repeat;
    border: none;
    padding: 0;
    right: 7px;
    cursor: pointer;
}

.search-form__submit-btn:hover {
    opacity: 0.8;
}