.saved-movies {
    padding: 80px 70px 0;
    position: relative;
}

@media screen and (max-width: 959px) {
    .saved-movies {
        padding: 60px 30px 0;
    }
}

@media screen and (max-width: 479px) {
    .saved-movies {
        padding: 60px 10px 0;
    }
}