.header {
    min-height: 74px;
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .header {
        padding: 0 30px;
    }
}

  @media screen and (max-width: 479px) {
    .header {
        padding: 0 14px;
    }
}

.header_main {
    background-color: #F3C1F8;
}